.width-50{
	width: 50px;
}
.width-100{
	width: 100px;
}
.width-150{
	width: 150px;
}
.body{
	min-height: 450px;
	background: lightgray;
	padding: 25px;
}
.no-bullet{
	list-style: none;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}